<h1><%= @user.full_name %></h1>

<%= image_tag @user.avatar.url(:medium), class: 'img-circle center-block' %>
<% if signed_in? %>
<div id="friend-status">
  <% if current_user.friends.include?(@user) || current_user.pending_friends.include?(@user) %>
    <%= link_to "Edit Friendship", edit_user_friendship_path(friend_id: @user), class: 'btn btn-primary' %>
  <% else %>
    <%= link_to "Add Friend", new_user_friendship_path(friend_id: @user), class: 'btn btn-primary', id: 'add-friendship', data: { friend_id: @user.to_param } %>
  <% end %>
</div>
<% end %>


<% if @posts %>
  <% @posts.each do |post| %>
    <div class="well">
      <%= post.content %>
      <hr />
      <%= link_to time_ago_in_words(post.created_at), post_path(post) %> ago
    </div>
  <% end %>
<% end %>