<% if @friend %>
  <h1><%= @friend.full_name %></h1>

  <%= form_for @user_friendship, method: :post do |form| %>
    <div class="form form-actions">
      <%= form.hidden_field :friend_id, value: @friend.id %>
      <%= submit_tag "Add Friend", class: 'btn btn-primary' %>
      <%= link_to "Cancel", profile_path(@friend), class: 'btn' %>
    </div>
  <% end %>
<% end %>