<h2>Edit Account</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    Profile Pic
    <%= f.file_field :avatar %>
  </div>

  <fieldset class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
  </fieldset>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :gender %>
    <% Registration::GENDER_OPTIONS.each do |gender| %>
      <span>
        <%= f.radio_button :gender, gender %> <%= gender %>
      </span>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :age %>
    <%= f.number_field :age, class: "form-control" %>
  </li>
  <div class="form-group">
    <%= f.label :belt_level %>
    <%= f.select :belt_level,
                  Registration::BELT_LEVEL_OPTIONS, class: "form-control" %>
  </li>
  <div class="form-group">
    <%= f.label :affiliation %>
    <%= f.text_field :affiliation, class: "form-control", size: 40 %>
  </li>

  <div class="form-group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password", autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, class: "form-control", placeholder: "Current Password", autocomplete: "off" %>
  </div>

  <div class="actions" style="text-align: center">
    <%= f.submit "Update", class: 'btn btn-primary' %>
  </div>
<% end %>

<p class="m-t-2">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>

<%= link_to "Back", :back %>
