<article>
  <%= image_tag @open_mat.asset.url(:medium), class: 'center-block' %>
  <div class="container text-xs-center m-t-2">
    <h4 style="color: black;">Are you going?</h4>
    <%= link_to "Yes", new_open_mat_registration_path(@open_mat), class: 'btn btn-success btn-block' %>
  </div>
  <div class="m-t-2 container">
  <h4 style="display: inline">Host:</h4>
  <%= image_tag @open_mat.user.avatar.url(:thumb), class: 'img-circle m-l-2' %>
  <%= link_to @open_mat.user.full_name, profile_path(@open_mat.user) %>
  </div>
  <div class="container m-t-2">
    <h4 class="pull-xs-left m-r-2">When:</h4>
    <p>
      <%= @open_mat.starts_at %><br />
      <%= starts_in(@open_mat) %>
    </p>
  </div>
  <div class="container text-xs-center m-t-2">
  <h4><%= pluralize(@open_mat.registrations.size, "Person") %> Going</h4>
  <p>
    <% @open_mat.registrations.each do |r| %>
    <div>
      <%= image_tag r.user.avatar.url(:thumb), class: 'img-circle' %>
      <%= link_to r.user.full_name, profile_path(r.user) %>
    </div>
  <% end %>
  </p>


<footer>
  <% if host?(@open_mat) %>
  <%= link_to "Edit", edit_open_mat_path(@open_mat), class: 'btn btn-info btn-xs' %>
  <%= link_to "Delete", open_mat_path(@open_mat), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
  <% end %>
</footer>
</article>