<%= form_for([@album, @picture]) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.file_field :asset %>
  </div>
  <div class="form-group">
    <%= bootstrap_paperclip_picture f, :asset %>
  </div>
  <div class="form-group">
    <%= f.label :caption %><br>
    <%= f.text_field :caption, class: 'form-control', placeholder: 'Caption' %>
  </div>
  <div class="form-group m-b-3">
    <%= f.submit class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
