<% if signed_in? && current_user == @user %>

<h3 class="text-xs-center"><%= @album.title %></h3>
<%= link_to 'Add Picture', new_album_picture_path(current_user, @album), class: 'btn btn-primary btn-block m-b-2' %>
<% end %>

<div class="text-xs-center">
<% @pictures.each do |picture| %>
  <div class="thumbnail">
    <%= link_to image_tag(picture.asset.url(:small)), album_picture_path(@user, @album, picture) %><br />
      <div class="caption">
        <% if picture.caption? %>
          <%= picture.caption %><br />
        <% end %>

        <%= link_to 'View full size', album_picture_path(@user, @album, picture) %>

        <% if can_edit_picture?(picture) %>
          | <%= link_to "Edit", edit_album_picture_path(@album, picture) %>
          | <%= link_to "Delete", album_picture_path(@album, picture), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
  </div>
<% end %>
</div>

