<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset class="form-group m-t-2">
    <%= f.text_area :content, class: 'form-control', placeholder: 'Say Something...' %>
  </fieldset>
  <%= f.submit class: 'btn btn-primary center-block m-b-2' %>
<% end %>
