

<%= link_to "Post Something", new_post_path, class: 'btn btn-primary' %>

<% @posts.each do |post| %>
  <% if can_display_post?(post) %>
    <div class="post">
      <%= avatar_profile_link post.user, {}, class: 'pull-xs-left' %>
      <strong><%= link_to post.user.full_name, profile_path(post.user) %></strong>
      <p><%= post.content %></p>
      <div class="meta">
        <%= link_to time_ago_in_words(post.created_at) + " ago", post %>
        <span class="admin">
          | <%= link_to "Edit", edit_post_path(post) %> |
          <%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure you want to delete this post?"} %>
        </span>
      </div>
    </div>
  <% end %>
<% end %>